.contaier{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h3{
    text-align: center;
    margin-top: 0;
}
.formDiv{
    box-shadow: 1px 1px 10px  #EDEDED,  -1px -1px 10px  #EDEDED;
    border-radius: 5px;
    padding: 20px;
   
}
.passwordShow{
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #EDEDED;
    border-radius: 5px;
    margin: 20px auto;
    justify-content: center;
    font-size: 17px;
    font-weight: bolder;
    align-items: center;

}
.rangeDiv,.elementContainer{
    background-color:  #EDEDED;
    padding: 20px;
    border-radius: 5px;
    margin: 10px auto;
}
.element{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.generateButton{
    padding: 10px;
    font-size: 15px;
    position: relative;
    display: inline;
    width: 100%;
    background-color: rgb(39, 39, 211);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}